

<div class="container">
  <div class="row">
  <p class="layout-table-header">Security Consult, Inc. is a Charlotte, North Carolina based security consulting and private investigative services company with “the insider’s” edge that provides expert, one-on-one, custom solutions for your personal and business needs. </p>
</div> <!--/.row-->
  <div class="layout-tables">
    <div class="layout-table">
      Intrusion alarm systems, design, monitoring and service
    </div>
    <div class="layout-table">
      Workplace physical/electronic covert theft detection
    </div>
    <div class="layout-table">
      Video security/surveillance systems
    </div>

    <div class="layout-table">
      Domestic infidelity investigations
    </div>

    <div class="layout-table">
      Insurance fraud investigations
    </div>
    <div class="layout-table">
      Child custody and visitation investigations
    </div>
    <div class="layout-table">
      Other custom applications
    </div>
  </div>
  <div>
    <ul>
      <li>North Carolina Alarm Systems Licensing Board License #2330-CSA</li>
      <li>NC Board of Examiners of Electrical Contractors License #29488-SP-FA/LV</li>
      <li>Licensed by the North Carolina Private Protective Services Board NC Private Investigator License #4309<li>
      <li>Member of the North Carolina Association of Private Investigators﻿</li>
    </ul>
  </div>

</div> <!--/.container-->
